body {
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;

   overflow-x: hidden;
}

.container {
   max-width: 1240px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}